// ALL THE TYPOGRAPHY 

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #555;
}

h1, h2{
    text-transform: uppercase;
    text-align: center !important;
    font-weight: 700;
    
}

h2, h3, h4{color: $color-secondary;}


.page-section{
    padding: 8rem 0;
}

.section-gray{
    background:#f4f4f4;
}

.section-primary{
    background:#e56664;
    color:#fff !important;
    
}

.section-dark{
    background-color: #191919;
}

.email a{
    color:#e56664;
}


.section-secondary{
    background:#e44d26;
    color:#fff !important;
    
}

.section-title{
    padding:10px;
    background:#e56664;
    color:#fff;
}

.section-title small{
    color:#ccc !important;
}

.slogan{
    text-align: center;
}

.slogan h1{
    font-size:50px;
    margin-bottom:25px;
}

.slogan p{
    font-size:20px;
}

.slogan a{
    margin-top:20px;
}

.fa-color{
    color:#e56664;
}

.feature-list .nav-item{
    list-style: none;
    font-size:18px;
    line-height: 2em;
}
  
  