
  
  .heading-primary {
    color: $color-white;
    margin-bottom: 4rem;

    // to fix animation element shake.
    backface-visibility: hidden; 

    &--main {
        font-family: Montserrat;
        display: block;
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: 1rem;
        padding-bottom: 1rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    
        // animation testing
        //animation: moveInLeft 1s ease-out;

        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */

        @include respond(tab-port){
            font-size: 4.5rem;
        }
    }

    &--sub {
        display: block;
        font-size: 1.6rem;
        font-family: Lato;
        font-weight: 500;
        letter-spacing: .2rem;
       

        // animation testing
        animation: moveInRight 1s ease-out;
        /*
        animation-timing-function: ease-in;
        animation-name: moveInRight;
        animation-duration: 5s;
        */

        @include respond(tab-port) {
            letter-spacing: .5rem;
            font-size: 2rem;
        }
    }
}

// SECONDARY HEADING

.heading-secondary{
    
    -webkit-background-clip: text;
    text-align: center !important;
    
    font-size: 3rem;
    color: transparent;
    letter-spacing: .3px;
    transition: all .2s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    &--1{
      background-image: linear-gradient(to right, $color-primary-dark-1, $color-primary-red);
    }

    &--2{
      background-image: linear-gradient(to right, $color-white, $color-primary-red);
    }

    &--3{
      background-image: linear-gradient(to right, $color-white, $color-grey-light-1);
    }
    
}



.heading-tertiary {
    text-transform: capitalize;
    color: $color-secondary;
    font-size: 1.8rem;
    font-weight: 700;

    &__sub{
        font-style: italic;
        margin-left: 1rem;
        font-size: 1.5rem;
    }
    
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.page-header {
  padding-bottom: .9rem;
  margin: 4rem 0 2rem;
  border-bottom: .1rem solid $color-secondary;
}

