.article{

    @include respond(tab-port){
        
            
    }
    &__left{
        display: flex;
        flex-direction: row;
        
        @include respond(tab-land){
            flex-direction: column;
            
        }

    }

    &__right{

    }

    &__img{
        width: 50%;
        @include respond(tab-land){
            width: 100%;
            
        
        }

        
    }

    &__text{
        font-size: 1.2rem;
        @include respond(tab-land){
            column-count: 2;
            column-gap: 2rem;
            column-rule: .1rem solid $color-white;
    
            hyphens: auto;

        }
       
    }
}