
.card {
  border: 0;
  border-bottom: 0.25rem solid $color-primary;
  h4 {
    font-size: 1.2rem;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  hr {
    border-color: $color-primary;
    border-width: 0.25rem;
    width: 3rem;
  }
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: fade-out($color-grey, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    .caption-content {
      color: $color-white;
      margin: auto 2rem 2rem;
      h2 {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
        font-size: 1.2rem;
      }
    }
  }
  @include respond(tab-port) {
    max-width: none;
    margin: 0;
    .caption {
      -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px);
      .caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
      }
    }
    img {
      -webkit-transition: -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }
    &:hover {
      img {
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem);
      }
      .caption {
        background-color: fade-out($color-primary, 0.1);
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem);
      }
    }
  }
}
