 /* LAYOUT: Header */

 .header{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    /* background: -webkit-gradient(linear,left top,left bottom,from(rgba(92,77,66,.8)),to(rgba(92,77,66,.8))),url(../img/bg-masthead.jpg); */
    background: linear-gradient(to right bottom,rgba($color-black,.7) 0,rgba($color-black,.7) 100%),url(/assets/css/img/bg-min.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 95vh;

    // implementing a responsive image with Resolution Switching

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background: linear-gradient(
            to right bottom,
            rgba(92,77,66,.7) 0,
            rgba(92,77,66,.7) 100%),
            url(img/bg-min.jpg); 
    }

    &__jumbotron{
        
        h1{
            font-size:5.5rem;
        }
    
        img{
            @media(max-width:768px){
                display:none;
            }
    
        }
        
        
    }

 }

 .hero-text{
    padding: 20px 0;
}

#feature-image{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 95vh;
    
}