 /* LAYOUT: Header */

 .header{
    margin:0 !important;
    height: 100vh;
    background:url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    padding: 15.6rem 0 10rem;
    

    &__jumbotron{
        
        h1{
            font-size:55px;
        }
    
        img{
            @media(max-width:768px){
                display:none;
            }
    
        }
        
        
    }

 }

  
 










 .hero-text{
    padding: 20px 0;
}