.header-blog{
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark-1, 0.8)),
    url(/assets/css/img/hero-blog-big-min.jpg);
    background-size: cover;
    background-position: top;
    
   
 
}