.section-stage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/karate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    color: $color-white;
    background-attachment: fixed;
}

.section-lien{
    img{
        height: 6rem;
    }
}