.section-stage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/karate-min-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    color: $color-white;
    background-attachment: fixed;


    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/karate-min.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 85vh;
        color: $color-white;
        background-attachment: fixed;
    
    }
 
}

.parallax--box-js{
    
}

.section-lien{
   
    img{
        @include respond(tab-land){
           
        }
        
    }
}

.section-bkg__img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/telethon_min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    color: $color-white;
    background-attachment: fixed;
}

// inline gallery 

.section-gallery-inline {
    padding: 0 !important;
    width: 100%;

}

.team{

    &__heading{
        margin-top: 1rem;
    }

    &__title{

        span{
            display: block;
        }

        &--sub{
            color: $color-primary;
        }


    }

}

