.section-stage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/css/img/karate-min-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    color: $color-white;
    background-attachment: fixed;


    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/css/img/karate-min-small.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 85vh;
        color: $color-white;
        background-attachment: fixed;
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
    }
 
}

.parallax-BkgImg-jg{
    background-color: transparent;
}





.section-bkg__img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/css/img/hero-blog-big-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    color: $color-white;
    background-attachment: fixed;
}

.parallax-window {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    min-height: 40rem;
    background-color: transparent;
    color: $color-white;


}

.info{
    z-index: 2;
    position: relative;
}


// inline gallery 
.section-gallery{
    .row {
        display: flex;
        flex-wrap: wrap;
     }
     
     .row > div[class*='col-'] {
       display: flex;
     }
     
}

.section-gallery-inline {
    padding: 0 !important;
    width: 100%;

}

.section-contact{background-color: $color-secondary;}
